{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">CookingFriends</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
        </div>
    </section>
    <pre>
        {{ dump(user) }}
    </pre>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for recette in recettes %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img style="min-height:300px;max-height:300px" class="card-img-top"  src="{{ recette.images[0].path}}" alt="mon image">
                            {# <img style="min-height:300px;max-height:300px" class="card-img-top"  src="{{ asset('/uploads/' ~ recette.images[0].name )  }}" alt="mon image"> #}
                            <div class="card-body">
                                <p class="card-text">{{recette.title}}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        {# <a href="{{ path('app_home_show', {'id': recette.id} ) }}" class="btn btn-sm btn-outline-secondary">Voir plus</a>
                                         {% if is_granted('ROLE_ADMIN') or recette.user.id == app.user.id  %}
                                            <a href={{ path('app_home_edit', {'id': recette.id} ) }} class="btn btn-sm btn-outline-secondary">Modifié</a>
                                         {% endif %} #}
                                    </div>
                                    <small class="text-muted">{{recette.categoryPlat.type}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %} 
            </div>
        </div>
        <div class="containerZone">
            {# <a class="btn btn-primary my-2" href="{{ path('app_home_new')}}">Ajouter une recette</a> #}
        </div>    
    </div>
</main>



    <style>
    .containerZone{
        width:100%;
        justify-content:center;
    }
{% endblock %}
